name: Generate SBOM

on:
  pull_request:
    branches:
      - main
    paths:
      - package-lock.json
      - .github/workflows/generate-sbom.yml
  push:
    branches:
      - main
    paths:
      - package-lock.json
      - .github/workflows/generate-sbom.yml

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # tag=v3.1.0

      - name: Generate app SBOM
        uses: cds-snc/security-tools/.github/actions/generate-sbom@00801dc7049671a1a9bfa25a11ef2c2709ca78ed # v1.1.4
        with:
          dependency_track_api_key: ${{ secrets.DEPENDENCY_TRACK_API_KEY }}
          project_name: terraform-plan/app
          project_type: node        
